@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');

// NAVBAR
.navbar {
    .navbar-brand {
        color: $secondary2;
        font-family: $font-family-display;
    }

    .nav-link {
        color: $secondary2;
        padding-right: 50px !important;
    }
}