@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');


// BIG TITLE
h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-serif;
    font-size: 60px;
}

// PAGE : HOME - TITRES DES SECTIONS : Nos habitats, Nos services, Nos animaux, Avis de nos visiteurs
h2 {
    font-family: $font-family-serif;
    color: $browndark;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.line_h2 {
    width: 20%;
    height: 2px;
    border: none;
    background-color: $browndark;
    opacity: 75%;
}

// PAGE : HOME - TITRES DES HABITATS
h3 {
    font-family: $font-family-sans-serif;
    color: $browndark;
    padding-top: 10px;
}

// FOOTER - TITRES DES SECTIONS
h4 {
    font-family: $font-family-serif;
    color: $secondary2;
    font-size: 21px;
}

// PAGE : SIGNIN - TITRE CONNEXION
h5 {
    font-family: $font-family-serif;
    color: $dark;
    font-size: 25px;
    text-align: center;
}

.btn-bg-dark {
    background-color: $browndark;
    color: white;
}


// NAVBAR
.navbar {
    /* A REVOIR img {
        width: 5%;
    }*/

    .navbar-brand {
        color: $secondary2;
        font-family: $font-family-display;
    }

    .nav-link {
        color: $secondary2;
        padding-right: 50px !important;
        font-size: 22px;
    }
}


// BIG TITLE
.big_title {
    position: relative;
    height: 33vh;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/Accueil/Présentation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        filter: brightness(0.6);
    }

    * {
        // Positionner les éléments devant le ::before
        position: relative;
    }
}


// PAGE : HOME - SECTION : NOS HABITATS
.bg_habitats {
    background-color: $secondary1;
}

.img_home_savane {
    width: 1000px;
    height: 280px;
    background-image: url(../images/Savane/Savane.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 50px;
}

.img_home_jungle {
    width: 1000px;
    height: 280px;
    background-image: url(../images/Jungle/Jungle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 50px;
}

.img_home_marais {
    width: 1000px;
    height: 280px;
    background-image: url(../images/Marais/Marais.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 50px;
}


// PAGE : HOME - SECTION : NOS SERVICES
.bg_services {
    background-color: $secondary1;
}


// PAGE : HOME - SECTION : NOS ANIMAUX
.bg_animaux {
    background-color: $secondary1;
}

#carouselHome {
    width: 1000px;
    height: 400px;
    margin: auto;

    .carousel-inner {
        width: 1000px;
        height: 400px;
    }

    img {
        width: 1000px;
        height: 400px;
        object-fit: cover;
    }
}



// PAGE : HOME - SECTION : AVIS
.bg_avis {
    background-color: $primary;
}


// PAGE : NOS SERVICES
.container_services {
    background-color: $secondary2;

    article {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        color: $dark;
        text-align: center;
        padding-top: 5px;
    }

    ul {
        color: $browndark;
    }

    img {
        width: 25%;
        border-radius: 5px;
    }
}


// PAGE : NOS HABITATS
.container_habitats {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    padding-bottom: 40px;

    img {
        width: 50%;
        border-radius: 50%;
    }
}


// PAGE : CONNEXION 
.title_signin {
    font-family: $font-family-serif;
}

.container_signin {
    background-color: $secondary1;
    padding: 50px;

    .container_form {
        width: 450px;
        background-color: #A6C5B1;
        border-radius: 10px;
        border: 1px solid $dark;
        padding: 50px;
        margin: auto;

        img {
            width: 8%;
        }

    }

}