@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');



h1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-serif;
    font-size: 60px;
}


.line_h2 {
    width: 20%;
    height: 2px;
    border: none;
    background-color: $browndark;
    opacity: 75%;
}


h2 {
    font-family: $font-family-serif;
    color: $browndark;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}


h3 {
    font-family: $font-family-sans-serif;
    color: $browndark;
    padding-top: 10px;
}


h4 {
    font-family: $font-family-serif;
    color: $secondary2;
    font-size: 21px;
}

h5 {}


h6 {
    font-family: $font-family-serif;
    color: $dark;
    font-size: 25px;
}


.btn-bg-dark {
    background-color: $browndark;
    color: white;
}


// NAVBAR
.navbar {
    .navbar-brand {
        color: $secondary2;
        font-family: $font-family-display;
    }

    .nav-link {
        color: $secondary2;
        padding-right: 50px !important;
        font-size: 22px;
    }
}


// BIG TITLE
.big_title {
    position: relative;
    height: 33vh;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/Accueil/Présentation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        filter: brightness(0.6);
    }

    * {
        // Positionner les éléments devant le ::before
        position: relative;
    }
}


// SECTION : NOS HABITATS
.bg_habitats {
    background-color: $secondary1;
}

img {
    width: 10%;
}

/* A REVOIR
.img_habitats {
    width: 62.5rem;
    text-align: center;
    border-radius: 20px;
    }
*/


// SECTION : NOS SERVICES
.bg_services {
    background-color: $secondary1;
}


// SECTION : NOS ANIMAUX
.bg_animaux {
    background-color: $secondary1;
}


// SECTION : AVIS
.bg_avis {
    background-color: $primary;
}


// PAGE : NOS SERVICES
.container_services {
    background-color: $secondary2;

    article {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 50px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        color: $dark;
        text-align: center;
        padding-top: 5px;
    }

    ul {
        color: $browndark;
    }

    img {
        border-radius: 5px;
    }
}


// PAGE : NOS HABITATS
.container_habitats {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    padding-bottom: 40px;

    img {
        width: 50%;
        border-radius: 50%;
    }
}


// PAGE : CONNEXION 
.title_signin {
    font-family: $font-family-serif;
}

.container_signin {
    background-color: $secondary1;
    padding: 50px;

    .container_form {
        background-color: #A6C5B1;
        padding: 50px;
        border-radius: 10px;
        border: 1px solid $dark;
    }
}