@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&family=Sigmar+One&display=swap');

body {
    font-family: "Hind Madurai", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Scada", sans-serif;
}

h2 {
    color: #462F14;
    font-size: 2.1875rem;
    text-align: center;
}

h3 {
    color: #462F14;
    font-size: 1.875rem;
    text-align: center;
}

.line_h2 {
    width: 20%;
    color: #462F14;
}

/* NAVBAR */
.navbar-brand {
    font-family: "Sigmar One", sans-serif;
}


/* SECTION : BIG TITLE */

.big_title {
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0,0,5), rgba(0,0,0,0,0,5)),
    url(./images/Accueil/Présentation.jpg)

}

.img_bigtitle {
    width: 10% ;
    
}


/* SECTION : PRESENTATION DU ZOO */
.img_prez {
    width: 10% ;
}


/* SECTION : NOS HABITATS */

.habitats_prez {
    background-color: #D1EEDB;
}


.img_habitats {
    width: 62.5rem ;
    text-align: center;
    border-radius: 20px;
}


/* SECTION : NOS SERVICES */

.services_prez {
    background-color: #D1EEDB;
}


/* SECTION : NOS ANIMAUX */

.animaux_prez {
    background-color: #D1EEDB;
}


/* SECTION : AVIS */
.avis_prez {
    background-color: #76A182;
}


/* SECTION : NOS HORAIRES */



/* SECTION : NOUS REJOINDRE */



/* SECTION : OU NOUS TROUVER */



/* SECTION : MENTIONS LEGALES */






